/* 폰트적용 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");

html > body {
  font-family: "Noto Serif KR", serif;
  font-family: "Noto Sans KR", sans-serif;
}

/* rib */
.con-min-width {
  min-width: var(--site-width);
}

.con {
  width: var(--site-width);
}

.con2 {
  width: var(--site-width-2);
}

.con3 {
  width: var(--site-width-3);
}

.con4 {
  width: var(--site-width-4);
}

/* custom */
.loading {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:1000;
}

.loading::after {
  content:"로딩중..";
}

/* top_bar */
:root {
  --site-width: 1920px;
  --site-width-2: 1728px;
  --site-width-3: 1760px;
  --site-width-4: 1400px;
}

.top_bar {
  height: 140px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
  background-color: white;
}

.top_bar__menu {
  display: flex;
  margin-left: 75px;
  height: 65px;
  align-self: center;
}

.top_bar__menu > img {
  cursor: pointer;
}

.top_bar__logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.top_bar__logo > a > img {
  height: 80px;
}

/* menu-box */
.top_bar__menu-box {
  position: absolute;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 30px;
  top: 0;
  left: 0;
  padding-left: 30px;
  width: 0;
  overflow: hidden;
  transition: 0.3s;
  z-index: 40;
}

.top_bar__menu.active > .top_bar__menu-box {
  width: 400px;
}

.group {
  position: relative;
}

.group * {
  box-sizing: border-box;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
}

input:focus ~ label,
input:valid ~ label {
  display: none;
}

.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #252523;
  transition: 0.3s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.top_bar__menu-box > ul li {
  padding: 10px;
}

.top_bar__menu-box > ul > li > a > img:first-child {
  width: 65px;
}

.top_bar__menu-box__personality {
  color: #919191;
  font-weight: 500;
  font-size: 20px;
}

.top_bar__menu-box > ul > div > li:hover {
  transform: translatex(2%);
  transition: linear 0.2s;
  font-weight: 900;
}

.top_bar__menu-box > ul > li:last-child > a > img {
  width: 40px;
}

.top_bar__menu-box > ul > li:last-child {
  display: inline-block;
}

.top_bar__menu-box > ul > li:last-child > a:hover > img {
  transform: scale(1.2);
  transition: 0.2s;
}

.top_bar__menu-box > ul > li > div > .search {
  justify-content: space-between;
}

.top_bar__menu-box > ul > li > div > .search > img {
  width: 30px;
}

.top_bar__menu-box__personality:hover {
  text-decoration: underline;
  text-underline-position: under;
  color: black;
}

.top_bar__menu-box > div:first-child {
  top: 30px;
}

.top_bar__menu-box > .sidebar-close > img {
  width: 75px;
  cursor: pointer;
}

.top_bar__menu-box > .sidebar-close:hover > img {
  transform: scale(1.2);
}

.top_bar.active > div > .top_bar__logo {
  visibility: hidden;
}

.top_bar.active {
  height: 0;
}

@media (min-width: 2646px) {
  .top_bar__menu > img {
    visibility: hidden;
  }
}

/* footer */
.hr_bottom {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  
  .btn-to-top {
    position: fixed;
    bottom: 30px;
    right: 0;
    padding: 10px;
    z-index: 20;
    cursor: pointer;
  }
  
  .btn-to-top > div {
    border: 1px solid #757575;
    border-radius: 9999px;
    padding: 22px 3px 22px 3px;
    background-color: white;
  }
  
  .btn-to-top > div > img {
    height: 2rem;
  }
  